.hover_orange:hover{
    color: orange !important;
    cursor: pointer;
}

.orange{
    color: #ffa500;
}

.logo-small {
    height: 50px;
}

.logo_xsmall{
    height: 20px;
}

.bg_orange{
    background-color: #ffa500 ;
}